body{
    background-color: lightblue;
}

.registration{
    padding: 50px 0;
}
.val
{
color:red;
}
.registration form{
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    border-top-right-radius: 30px;
    padding: 50px 70px;
    border-top-left-radius: 25px;
    box-shadow: 20px 22px 10px rgba(0, 0, 0, 0.075);
}
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: #000000;
}
tr{
border:2px #000000 solid;
background-color: azure;
}
.tab
{
   background-color: antiquewhite;
   border: #bc2490 2px solid;
   line-height: 50px;  
}

.title
{
    background-color: #bc2490;
    height:30%;
    color:#ffffff;
    font-size:38px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: #bc2990;
    color: #000000;
    font-family: 'Kalam', cursive;
    box-shadow: 4px 4px 0px #8c087a;
    border-radius: 8px;
    border: 0px;
    padding: 12px;
    height: 60px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px #8c087a;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }
    .registration-form .form-icon{
        width: 80px; 
        font-size: 30px;
        height: 70px;
        line-height: 70px;
    }
}